<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Atom Entries Generator</title>
    <link rel="alternate" href="http://atomgen.appspot.com/feed/5min" type="application/atom+xml" />
</head>
<body>
<div id="main">
  <div id="head">
    Infinite Atom Entries Generator. Have two feeds, generating valid atom entries every 1 minute and every 5 minutes. The 1 minute feed is protected with a secret token in the end of the URL. The 5 minutes feed is available for everybody on URL:
<pre>
http://atomgen.appspot.com/feed/5min
</pre>	  
  </div>
</div>
<div id="foot">
   <p>This application was build by <a href="http://zhware.net/">Stoyan Zhekov</a>. The code can be found on <a href="http://github.com/zh/atomgen">GitHub</a>.</p>
</div>
</body>
</html>
