<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-GB" lang="en-GB">
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Atom Entries Generator</title>
    <link rel="stylesheet" href="/css/common.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="alternate" href="{{ site_url}}/feed/5min" type="application/atom+xml" />
</head>
<body>
<div id="main">
  <div id="head">
    <h1>Atom Entries Generator.</h1>
    <p>
    The application providing two feeds. First one generating Atom entries every
    minute and the second one - every 5 minutes. 
    The feeds can be used mostly for testing webhooks, pubsubhubbub etc.
    </p>
    <p>
    The one minute feed is protected by a secret token in the end of the URL.
    If your application is installed for example on URL <b>{{ site_url }}/</b> , 
    the two feeds will be:
<pre>
{{ site_url}}/YourSecretHere
{{ site_url}}/feed/5
</pre>
    </p>
    <p>
    The application is currently deployed on Google AppEngine. You can use the
    5 minutes feed for your tests - go to 
    <a href="http://pubsubhubbub.appspot.com/subscribe">http://pubsubhubbub.appspot.com/subscribe</a> 
    and subscribe for the <b>{{ site_url }}/feed/5</b> topic. This will send 
    to your subscribers a new Atom entry every 5 minutes.

    There is also a FriendFeed group - <a href="http://friendfeed.com/atomgen">http://friendfeed.com/atomgen</a> , 
    which is already subscribed to the 5 minutes feed. You can use it to gen notifications via IM etc.
    </p>
    <p>
    <a href="http://validator.w3.org/feed/check.cgi?url={{ site_url }}/feed/5"><img src="/images/valid-atom.png" alt="[Valid Atom 1.0]" title="Validate my Atom 1.0 feed" /></a>    
    </p>
  </div>
  </div>
<div id="foot">
  <p>This application was build by <a href="http://zhware.net/">Stoyan Zhekov</a>. The code can be found on <a href="http://github.com/zh/atomgen">GitHub</a>.</p>
</div>
</body>
</html>
